body{
    background-color: #264653;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: white;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    position: relative;
    padding-top: 15px;
}

/* info blocks grid styling*/
.info{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    height: 200px;


}
.how-to, .deposit, .begin{
    border-radius: 24px;
    background: #2A9D8F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 25vw;
    font-size: 24px;
}

/* info blocks grid styling / media screens*/

@media only screen and (max-width: 425px) {
    .info{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content:center;

    }
  }


  /* counter wrapper styling*/

  .counters{
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }

  .deposit-wrapper, .winnings-wrapper{
    width: 294px;
    height: 141px;
    border-radius: 24px;
    background: #2A9D8F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

    /* counter  styling*/

.deposit-wrapper, .winnings-wrapper{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
    }

.deposit-counter, .winnings-counter{
        position: absolute;
        bottom: 20%;
        width: 254px;
        height: 37px;
        border-radius: 24px;
        background: #264653;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
      }

 /* counter header styling*/

 .deposit-header, .winnings-header{
        position: relative;
        bottom: 75px;
 }